@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Kaushan+Script&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
    font-family: 'Kaushan Script', cursive;
}

a {
  text-decoration: none;
  color: rgba(230, 230, 250, 0.69);
}

a:hover {
  text-decoration: underline;
}

header {
    background-color: rgba(0, 0, 0, 0.833);

}

header h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    color: white;
    text-align: center;
    padding-bottom: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    line-height: 2em;
}
 section > p {
    font-family:"Borel", cursive;

 }

section.areaimag {
    background-color: rgba(0, 0, 0, 0.889);

}

section.areaimag > p {
    background-color: rgb(112, 112, 91);
    color: white;
    width:  400px;
    padding-top: 10px;
    padding-bottom: 10px;

}

footer {
    background-color: rgba(0, 0, 0, 0.833);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
