@charset "UTF-8";

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
   
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}

img {
    width:50px;
    height: 50px;
    border-radius: 40px;
    margin-top: 20px;

}


body > div.icones {
    text-align: right;
    margin-right: 10px;
   
}

div.icones img {
     box-sizing: border-box;
     transition: all 0.3s ease-in-out;
}

div.icones img:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    border: solid 2px #fff;
    box-shadow: 0 0 5px #000000;
}

/* a propriedade cursor é usada para definir o tipo de cursor que será exibido quando o ponteiro do mouse estiver sobre um elemento. O valor pointer faz com que o cursor mude para o formato de uma "mãozinha" (normalmente usada para indicar links clicáveis). */



.container {
    height: 623px;
    width: 310px;
    background-image: url(imagens/frame-iphone.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    
}

iframe {
    width: 273px;
    height: 473px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    overflow: hidden;
    border: none;
    clip-path: inset(0 1px 0 0);


    
}



/*height: 210px;
  width: 290px;
 
  background-image: url(imagens/target001.png);
    
    background-repeat: no-repeat;
    background-position: 100% 100%; */