@charset "UTF-8";

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
   
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}

img {
    width:50px;
    height: 50px;
    border-radius: 40px;
    margin-top: 20px;

}

div.icones {
    width: 55px;
    position: absolute;
    top: 2%;
    left: 91vw;
    

}

.container {
    height: 623px;
    width: 310px;
    background-image: url(imagens/frame-iphone.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    
}

iframe {
    width: 332px;
    height: 465px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-49.3%, -49.3%);
    overflow: hidden;
    border: none;
    clip-path: inset(0 32px 0 0);


    
}



/*height: 210px;
  width: 290px;
 
  background-image: url(imagens/target001.png);
    
    background-repeat: no-repeat;
    background-position: 100% 100%; */