@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div {
    background-color: rgba(0, 0, 255, 0.345);
    width: 475px;
    margin: auto;
}

h1 {
    color: rgba(240, 255, 255, 0.793);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    margin: auto;
}

img#tl { display: none;}
img#tbl { display: none;}
img#print { display: none;}
img#pc { display: none;}
img#tv { display: none;}

img#tl {
    display: block;
}